@font-face {
  font-family: "Itim";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Itim/ItimCyrillic.eot");
  src: url("../fonts/Itim/ItimCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/Itim/ItimCyrillic.woff") format("woff"), url("../fonts/Itim/ItimCyrillic.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Black.eot");
  src: url("../fonts/Raleway/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Black.woff") format("woff"), url("../fonts/Raleway/Raleway-Black.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border: none;
    border-bottom: solid 1px #1d1d1b;
    border-radius: 0;
  width: 100%;
  font-size: 10px;
  color: #000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #a8a8a8; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #a8a8a8; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #a8a8a8; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #a8a8a8; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 18px;
  height: 37px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 14.3px;
  padding: 0 35px; }

.btn-xs {
  font-size: 12.2px; }

.btn-lg {
  height: 51px;
  font-size: 21.6px;
  padding: 0 51px;
  border-radius: 25px; }

.btn-accent {
  color: #fff;
  background: #d51218; }
  .btn-accent:hover {
    background: rgba(213, 18, 24, 0.8);
    color: #fff; }

.btn-white {
  background: #fff;
  color: #d51218;
  -webkit-box-shadow: 0 5px 10px rgba(11, 11, 11, 0.3);
          box-shadow: 0 5px 10px rgba(11, 11, 11, 0.3); }
  .btn-white:hover {
    color: #fff;
    background: #d41217; }

.btn-border {
  color: #323232;
  font-size: 18.2px;
  font-weight: bold;
  height: 46px;
  width: 100%;
  padding: 0 20px;
  border-radius: 23px;
  border: solid 1px #323232; }
  .btn-border:hover {
    background: #d51218;
    color: #fff;
    border-color: #d51218; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

.my-ul {
  list-style: none; }

.container {
  max-width: 1620px; }

h1 {
  font-size: 40px;
  color: #d41217;
  width: 100%;
  font-family: 'Itim', cursive; }

h2 {
  width: 100%;
  font-family: 'Itim', cursive; }

.mb-25 {
  margin-bottom: 25px; }

.nav-breadcrumbs {
  width: 100%;
  margin: 22px 0 15px; }

.breadcrumb {
  background: transparent;
  padding: 0;
  border: none;
    border-radius: 0;
  font-size: 10px; }
  .breadcrumb a {
    color: #808080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .breadcrumb a:after {
      content: '/';
      display: inline-block;
      margin: 0 5px; }

.breadcrumb-item.active {
  color: #808080;
  font-weight: bold; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0; }

.breadcrumb-item + .breadcrumb-item::before {
  display: none; }

.page h1 {
  margin: 0 0 35px; }
